<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-messaging.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyBojUDwIZpB7afqyVRnCofE6J4m7eN-HEE",
    authDomain: "ascourier-81b1f.firebaseapp.com",
    projectId: "ascourier-81b1f",
    storageBucket: "ascourier-81b1f.appspot.com",
    messagingSenderId: "8311576366",
    appId: "1:8311576366:web:86a5e3adfd5e631dd24cbf"
  };

  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script>